<html>
  <head>
    <title>Hello enlive</title>
  </head>
  <body>
    <div class="container">
      <div class="hero-unit">
        <h1>Bem-vindo ao Mookirana</h1>
        <p>Suas dívidas estão ficando fora de controle? Você anda gastando muito com lazer? Não sabe para onde vai o seu dinheiro? Gostaria de guardar dinheiro para uma viagem? De vez em quando, você se esquece de pagar uma conta? O Mookirana pode te ajudar com estes e outros problemas!</p>
        <p>Se você deseja conheer o Mookirana, <a href="../register">cadastre-se</a>. Se você já possui uma conta faça o <a href="../login">login</a>.
      </div>
    </div>
  </body>
</html>
