<html>
  <head>
    <title>Hello enlive</title>
  </head>
  <body>
    <div class="container">
      <div class="page-header">
        <h1>Log in</h1>
      </div>
      <form action="/login" method="post" class="form-horizontal">
        <fieldset>
        <div class="control-group">
          <label class="control-label" for="email">E-mail</label>
          <div class="controls">
            <input type="text" name="email" id="email" />
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="password">Password</label>
          <div class="controls">
            <input type="password" name="password" id="password" />
          </div>
        </div>
        <div class="form-actions">
          <button type="submit" class="btn btn-primary">Login</button>
          <button class="btn">Cancel</button>
        </div>
      </fieldset>
      </form>
    </div>
  </body>
</html>
