<html>
  <head>
    <title>Hello enlive</title>
  </head>
  <body>
    <div class="container">
      <div class="page-header">
        <h1>Register</h1>
      </div>
      <form action="/register" method="post" class="form-horizontal">
        <fieldset>
        <div class="control-group">
          <label class="control-label" for="name">Name</label>
          <div class="controls">
            <input type="text" name="name" id="name" />
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="email">E-mail</label>
          <div class="controls">
            <input type="text" name="email" id="email" />
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="password">Password</label>
          <div class="controls">
            <input type="password" name="password" id="password" />
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="password2">Repeat you password</label>
          <div class="controls">
            <input type="password" name="password2" id="password2" />
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
            <label class="checkbox">
              <input type="checkbox" name="agree" value="true">
              I agree with the usage terms of this site.
            </label>
          </div>
        </div>
        <div class="form-actions">
          <button type="submit" class="btn btn-primary">Register</button>
          <button class="btn">Cancel</button>
        </div>
      </fieldset>
      </form>
    </div>
  </body>
</html>
