<html>
  <head>
    <title>Mookirana</title>
  </head>
  <body>
    <div class="container">
      <div class="hero-unit">
        <h1>Welcome to Mookirana</h1>
        <p>Are your debts out of control? Do you spend too much on gas? Do you wonder how do you spend your money? Would you like to save for a trip? Do you forget to pay a bill now and then? Mookirana can help you with these and other problems!</p>
        <p>If you want to know how Mookirana works, please <a href="../register">register</a>. If you already have an account <a href="../login">login</a>.
      </div>
    </div>
  </body>
</html>
